

<ion-content class="ion-padding">
  <ion-header [translucent]="true">
    <ion-col size="2">
      <ion-icon name="caret-back-outline"style="margin-top: 7%;" (click)="goBack()"></ion-icon>
    </ion-col>
  </ion-header>
  <div class="cards">

    <ion-card color="light" *ngIf="propertyInfo">
      <img swiperSlide src="{{propertyInfo.image_front_page}}" />
      <ion-card-header>
        <ion-card-title>{{propertyInfo.name}}</ion-card-title>
        <ion-card-subtitle>{{propertyInfo.address}}</ion-card-subtitle>
        <ion-text> {{propertyInfo.price | currency :'':'symbol-narrow': '3.0'}} CLP noche</ion-text>
      </ion-card-header>
    
      <ion-card-content>
        {{propertyInfo.description}}
      </ion-card-content>

      <ion-list >
        <ion-item (click)="openModal()" color="light" >
          <ion-label>Fotos</ion-label>
        </ion-item>
  
        <ion-item *ngFor="let item of serviceInfo" color="light">
          <ion-label>{{item.service.name}}</ion-label>
          <ion-text>{{item.quantity}}</ion-text>
        </ion-item>
  
        <ion-item color="light">
          <ion-label>Fecha llegada</ion-label>
          <ion-input required [(ngModel)]="startDate" type="date" class="input" ></ion-input>
        </ion-item>

        <ion-item color="light">
          <ion-label>Fecha salida</ion-label>
          <ion-input required [(ngModel)]="endDate" type="date"></ion-input>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-button fill="clear" (click)="makeReservation()">Reservar</ion-button>
      </ion-row>  

    </ion-card>
  </div>

</ion-content>
