<ion-header>
  <ion-toolbar>
    <ion-icon slot="end" name="close-outline"(click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <swiper  [config]="config">
    <ng-template swiperSlide>
      <img swiperSlide src="https://imgclasificados2.emol.com/Proyectos/imagenes/proyecto/PR_FOTO_5027_Exterior%201%20Valle%20de%20la%20Luna%20II.jpg" />
    </ng-template>
    <ng-template swiperSlide>
      <img swiperSlide src="https://imgclasificados2.emol.com/Proyectos/imagenes/proyecto/PR_FOTO_5027_Exterior%201%20Valle%20de%20la%20Luna%20II.jpg" />
    </ng-template>
    <ng-template swiperSlide>
      <img swiperSlide src="https://imgclasificados2.emol.com/Proyectos/imagenes/proyecto/PR_FOTO_5027_Exterior%201%20Valle%20de%20la%20Luna%20II.jpg" />
    </ng-template>
    <ng-template swiperSlide>
      <img swiperSlide src="https://imgclasificados2.emol.com/Proyectos/imagenes/proyecto/PR_FOTO_5027_Exterior%201%20Valle%20de%20la%20Luna%20II.jpg" />
    </ng-template>
  </swiper>

</ion-content>
