<ion-header>
  <ion-toolbar>
    <ion-icon slot="end" name="close-outline"(click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <swiper  [config]="config" *ngIf="propertyInfo">
    <ng-template swiperSlide>
      <img swiperSlide src="{{propertyInfo.image_1}}" />
    </ng-template>
    <ng-template swiperSlide>
       <img swiperSlide src="{{propertyInfo.image_2}}" />
    </ng-template>
    <ng-template swiperSlide>
       <img swiperSlide src="{{propertyInfo.image_3}}" />
    </ng-template>
    <ng-template swiperSlide>
       <img swiperSlide src="{{propertyInfo.image_4}}" />
    </ng-template>
  </swiper>

</ion-content>
