

<ion-content class="ion-padding">
  <div class="cards">
    <h2 >Departamentos disponibles</h2>
  <div *ngFor="let item of properties">
    <ion-card color="light"  *ngIf="item.status == 0">
      <img swiperSlide src="{{item.image_front_page}}" />
      <ion-card-header>
        <ion-card-title>{{item.name}}</ion-card-title>
        <ion-card-subtitle>{{item.address}}</ion-card-subtitle>
        <ion-text> {{item.price | currency :'':'symbol-narrow': '3.0'}} CLP noche</ion-text>
      </ion-card-header>
    
      <ion-card-content>
       {{item.description}}
      </ion-card-content>

      <ion-row >
        <ion-button fill="clear" (click)="goMoreInfo(item)">Ver Mas</ion-button>
      </ion-row>      
    </ion-card>
  </div>

  <h2 > No disponibles</h2>
  <div *ngFor="let item of properties">
    <ion-card  disabled="true" color="light"  *ngIf="item.status == 1 || item.status == 2 || item.status == 3 || item.status == 4 || item.status == 5">
      <img swiperSlide src="{{item.image_front_page}}" />
      <ion-card-header>
        <ion-card-title>{{item.name}}</ion-card-title>
        <ion-card-subtitle>{{item.address}}</ion-card-subtitle>
        <ion-text> {{item.price | currency :'':'symbol-narrow': '3.0'}} CLP noche</ion-text>
      </ion-card-header>
    
      <ion-card-content>
       {{item.description}}
      </ion-card-content>

      <ion-row >
        <ion-button fill="clear" (click)="goMoreInfo(item)">Ver Mas</ion-button>
      </ion-row>      
    </ion-card>
  </div>

  <h2 >En mantención</h2>
  <div *ngFor="let item of properties">
    <ion-card  disabled="true" color="light"  *ngIf="item.status == 5">
      <img swiperSlide src="{{item.image_front_page}}" />
      <ion-card-header>
        <ion-card-title>{{item.name}}</ion-card-title>
        <ion-card-subtitle>{{item.address}}</ion-card-subtitle>
        <ion-text> {{item.price | currency :'':'symbol-narrow': '3.0'}} CLP noche</ion-text>
      </ion-card-header>
    
      <ion-card-content>
       {{item.description}}
      </ion-card-content>

      <ion-row >
        <ion-button fill="clear" (click)="goMoreInfo(item)">Ver Mas</ion-button>
      </ion-row>      
    </ion-card>
  </div>

  </div>
</ion-content>
