

<ion-content class="ion-padding">
  <div class="cards">

    <ion-card color="light">
      <img alt="Silhouette of mountains" src="https://imgclasificados2.emol.com/Proyectos/imagenes/proyecto/PR_FOTO_5027_Exterior%201%20Valle%20de%20la%20Luna%20II.jpg" />
      <ion-card-header>
        <ion-card-title>Departamento 1</ion-card-title>
        <ion-card-subtitle>Av. test 123</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
      </ion-card-content>

      <ion-row>
        <ion-button fill="clear">Reservar</ion-button>
        <ion-button fill="clear" (click)="goMoreInfo()">Ver Mas</ion-button>
      </ion-row>      
    </ion-card>
  
 
      <ion-card color="light">
      <img alt="Silhouette of mountains" src="https://imgclasificados2.emol.com/Proyectos/imagenes/proyecto/PR_FOTO_5027_Exterior%201%20Valle%20de%20la%20Luna%20II.jpg" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>

      <ion-row>
        <ion-button fill="clear">Reservar</ion-button>
        <ion-button fill="clear" (click)="goMoreInfo()">Ver Mas</ion-button>
      </ion-row>      
    </ion-card>


      <ion-card color="light">
      <img alt="Silhouette of mountains" src="https://imgclasificados2.emol.com/Proyectos/imagenes/proyecto/PR_FOTO_5027_Exterior%201%20Valle%20de%20la%20Luna%20II.jpg" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>

      <ion-row>
        <ion-button fill="clear">Reservar</ion-button>
        <ion-button fill="clear" (click)="goMoreInfo()">Ver Mas</ion-button>
      </ion-row>      
    </ion-card>


      <ion-card color="light">
      <img alt="Silhouette of mountains" src="https://imgclasificados2.emol.com/Proyectos/imagenes/proyecto/PR_FOTO_5027_Exterior%201%20Valle%20de%20la%20Luna%20II.jpg" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>

      <ion-row>
        <ion-button fill="clear">Reservar</ion-button>
        <ion-button fill="clear" (click)="goMoreInfo()">Ver Mas</ion-button>
      </ion-row>      
    </ion-card>


      <ion-card color="light">
      <img alt="Silhouette of mountains" src="https://imgclasificados2.emol.com/Proyectos/imagenes/proyecto/PR_FOTO_5027_Exterior%201%20Valle%20de%20la%20Luna%20II.jpg" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>

      <ion-row>
        <ion-button fill="clear">Reservar</ion-button>
        <ion-button fill="clear" (click)="goMoreInfo()">Ver Mas</ion-button>
      </ion-row>      
    </ion-card>


      <ion-card color="light">
      <img alt="Silhouette of mountains" src="https://imgclasificados2.emol.com/Proyectos/imagenes/proyecto/PR_FOTO_5027_Exterior%201%20Valle%20de%20la%20Luna%20II.jpg" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>

      <ion-row>
        <ion-button fill="clear">Reservar</ion-button>
        <ion-button fill="clear" (click)="goMoreInfo()">Ver Mas</ion-button>
      </ion-row>      
    </ion-card>

  </div>
</ion-content>
