<ion-header [translucent]="true">
  <ion-title>
    <ion-icon name="business-outline"></ion-icon>
  </ion-title>
</ion-header>






<ion-tabs >
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main-page">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bookings" >
      <ion-icon name="bookmarks-sharp"></ion-icon>
      <ion-label>Reservas</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-sharp"></ion-icon>
      <ion-label >Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-header>
  
</ion-header>