ion-tab-bar{
	color:#FFF;
}
ion-tab-button{
	--color:#64c27B;
	--color-selected:#2A8C4A;
}

ion-title {
	img { 
		width: 80px;
		height: 40px;
		margin-left: 45%;
	}
}

ion-toolbar { 
	ion-icon { 
		zoom: 1.8;
	}
}
