



<ion-content class="ion-padding">


    <ion-card *ngIf="profile_data">  
        <h2>Datos personales</h2>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>Nombre:</ion-label>
              <ion-label>{{profile_data.first_name}}</ion-label>
            </ion-item>
      
            <ion-item>
              <ion-label>Apellido:</ion-label>
              <ion-label>{{profile_data.last_name}}</ion-label>
            </ion-item>
      
            <ion-item>
              <ion-label>Correo:</ion-label>
              <ion-label>{{profile_data.email}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Fecha de ingreso:</ion-label>
                <ion-label>{{profile_data.join_date | date:'longDate' }}</ion-label>
              </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

</ion-content>